.contact{
    height: auto;
    width: 100%;
    background-color:black ;
    display: flex;
    justify-content: center;
    color: white;
}
h1{
    color: white;
}
p{
    line-height: 30px;
    font-weight: 600;
    font-size: 18px;
}
.content{
    width: 700px;
    margin-bottom: 10%;
}

.content a{
    color: red;
    font-weight: 600;
    font-size: 24px;
 line-height: 50px;
    transition: all 0.5s ease-in-out;
}
.content a:hover {
    color: white;
    margin-left: 10%;
}
@media only screen and (max-width: 600px) {
    .content h1 {
        font-size: larger;
    }
   
  }